{% extends "layout/basic.html" %}
{% block style %}
  {% endblock style %}
{% block content %}
<div style="color:white;" class="mb-3 pt-4 ps-3">
    <p>ФИО: {{ user.fullname }}</p>
    <p>Дата рождения: {% if not user.bdate %} Неизвестно {% else %} {{ user.bdate | date:'d.m.Y'}}{% endif %}</p>
    <p>Должность: {% if not user.post.value %} Неизвестно {% else %} {{ user.post.value }} {% endif %}</p>
    <p>РТП: {% if user.post.rtp  %} Да {% elif user.post.rtp == False %} Нет {% else %} Неизвестно {% endif %}</p>
    <p>{% if user.post.rtp %} Дата сдачи на допуск: {% if not user.post.passdate %} Неизвестно {% else %} {{ user.post.passdate | date:'d.m.Y' }} {% endif %}{% endif %}</p>
    <p>Звание:  {% if not user.rank.value %} Неизвестно {% else %} {{ user.rank.value }} {% endif %}</p>
    <p>Подлежит аттестации ГДЗС: {% if user.gdzs.possible  %} Да {% elif user.gdzs.possible == False %} Нет {% else %} Неизвестно {% endif %}</p>
    <p>ГДЗC: {% if user.gdzs.value %} Да {% elif user.gdzs.value == False %} Нет {% else %} Неизвестно {% endif %}</p>
    <p>{% if not user.gdzs.possible %} {{user.gdzs.why_not}} {% endif %}</p>
    <p>Аттестован: {% if user.approvals.result  %} Да {% elif user.approvals.result == False %} Нет {% else %} Неизвестно {% endif %}</p>
    <p>{% if user.approvals.result == False %} Почему нет: {% if not user.approvals.why %} Неизвестно {% else %} {{user.approvals.why}} {% endif %}{% endif %}</p>
    <p>{% if user.approvals.result %} Дата аттестации: {{ user.approvals.attdate | date:'d.m.Y'}}{% endif %}</p>
    <p>{% if user.approvals.result %} Дата проф. осмотра: {{ user.approvals.profdate | date:'d.m.Y'}}{% endif %}</p>
    <p>{% if user.approvals.result %} Вид аттестации: {{ user.approvals.approvalsname }}{% endif %}</p>
    <p>Период первоначальной подготовки: {% if user.period.start and user.period.end %} {{ user.period.start | date:'d.m.Y'  }} - {{ user.period.end | date:'d.m.Y' }} {% else %} Неизвестно {% endif %}</p> 
</div>
<button style="width:auto"class="button"><a href="{% url 'user_edit' pk=request.user.pk %}">Редактировать</a></button>
{% endblock content %}